*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    color: #000;
    background-color: bisque;
}
div{
    font-size: 16px;
    line-height: 24px;
    padding: 16px 32px;
    margin-top: 90px;
    background: #000;
    box-sizing: border-box;
    box-shadow: none;
    position: absolute;
}
h1{
    margin: auto;
}
p{
    margin: 0;
}